<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{{ albums.song_set.all }}
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
{{ album_id }}

<form action="{% url 'music:favourite' album.id %}" method="POST">
    {% csrf_token %}
    {% for song in album.songs_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-star-outline-16.png">
            {% endif %}
        </label><br >
    {% endfor %}
    <input type="submit" value="Favourite" />
</form>